*{
    margin: 0;
    padding: 0;
}
#wrap{
    margin: 100px auto 0;
    width: 1035px;
    text-align: center;

}
#datetimepicker{
}

#addTitle:hover{
    background: rgb(254,242,232);
}
#addTitle{
    width:100%;
    height: 50px;
    font-size: 20px;
    border: none;
    text-align: center;
}
#date{
    width: 250px;
    height:40px;
    border: 1px solid rgb(238,238,238);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

}
#addQ{
    cursor: pointer;
}
#addItems{
    height: 70px;
    width: 100%;
    line-height: 70px;
}
#addItems button{
    margin: auto;
}
#addThings{
    border: 1px solid #ccc;
}
.well{
    margin-bottom: 0px;
    height: 85px;
    line-height:35px;
}