*{
    margin: 0;
    padding: 0;
}
#table{
    width: 1160px;
    margin: 100px auto 0;
}
.green{
    color: rgb(119,230,108);
}
#addnew{
    display: inline-block;
    float: right;
    line-height: 20px;
    text-align: center;
    width:85px;
    height: 20px;
    font-size: 15px;
    background: rgb(245,245,245);
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
}

